<!DOCTYPE html>
<html ng-app="registration">
	<head>
		<title>studyflix</title>
		
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/styles/konkretlive.registration.cd0f3d93dcbe0dc714b5.css">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
	    	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  	<![endif]-->
	  	<style> .ng-cloak { display: none !important; } </style>
	</head>
	<body>
		<div class="container">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#hints" translate="HEADLINE_HINTS_START"></a>
				</li>
				<li>
					<a data-toggle="tab" href="#group" translate="HEADLINE_GROUP_INPUT"></a>
				</li>
				<li>
					<a data-toggle="tab" href="#leader" translate="HEADLINE_LEADER_INPUT"></a>
				</li>
				<li>
					<a data-toggle="tab" href="#participants" translate="HEADLINE_PARTICIPANTS_INPUT"></a>
				</li>
				<li>
					<a data-toggle="tab" href="#confirm" translate="HEADLINE_CONFIRM"></a>
				</li>
			</ul>
	
			<div class="tab-content">
				<div id="hints" class="tab-pane fade in active">
					<ng-include src="'views/01_hints.html'" />
				</div>
				<div id="group" class="tab-pane fade">
					<ng-include src="'views/02_group.html'" />
				</div>
				<div id="leader" class="tab-pane fade">
					<ng-include src="'views/03_leader.html'" />
				</div>
				<div id="participants" class="tab-pane fade">
					<ng-include src="'views/04_participants.html'" />
				</div>
				<div id="confirm" class="tab-pane fade">
					<ng-include src="'views/05_confirm.html'" />
				</div>
			</div>
		</div>
	
		<div id="sf-message-container" style="display: none;" ng-show="alerts.length > 0">
			<div uib-alert ng-cloak ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">
				<strong ng-if="alert.title.length > 0">{{alert.title}}:</strong>
				{{alert.detail}}
			</div>
		</div>
	
		<script src="scripts/konkretlive.registration.0f38018f840e03967d87.js"></script>
		<script src="conf/constants.js"></script>
	</body>
</html>
