<div ng-controller="StaffConfirmController">
	
	<div class="row">
		<div class="col-xs-12">
			<h1 translate="HEADLINE_STAFF_CONFIRM"></h1>
			<p translate="HINT_STAFF_CONFIRM_PAGE"></p>
		</div>
	</div>
	
	<div class="row" ng-show="showAdmissionHints()">
		<div class="col-xs-12">
			<h1 translate="HEADLINE_STAFF_ADMISSION"></h1>
			<p translate="TEXT_PRICE_BANK_TRANSFER_STAFF" translate-value-admission="{{ getAdmission() | number:2 }}"></p>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p translate="TEXT_BANK_TRANSFER_DONATION" translate-value-transferusagedonation="{{ getTransferUsageDonation() }}"></p>
		</div>
		<div class="col-sm-6 col-xs-12">
			<p translate="TEXT_BANK_TRANSFER_ADMISSION" translate-value-transferusage="{{ getTransferUsageAdmission() }}"></p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h1 translate="HEADLINE_PROTECTION_OF_ABUSE"></h1>
			<p translate="HINT_PROTECTION_OF_ABUSE"></p>
		</div>
	</div>
	
	<h1 translate="HEADLINE_REGISTER"></h1>
	<form name="confirmform">
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="privacyConfirmed">
					{{ 'FORM_CHECKBOX_PRIVACY' | translate }}
					<span class="kl-confirm-hint-toggle">
						<span style="cursor: pointer" ng-click="toggleHintPrivacy($event)" ng-show="!hintPrivacyVisible">
							{{ 'TEXT_SHOW_PRIVACY' | translate }}
							<i class="fa fa-caret-down"></i>
						</span>
						<span style="cursor: pointer" ng-click="toggleHintPrivacy($event)" ng-show="hintPrivacyVisible">
							{{ 'TEXT_HIDE_PRIVACY' | translate }}
							<i class="fa fa-caret-up"></i>
						</span>
					</span>
					<p class="kl-confirm-hint" ng-show="hintPrivacyVisible" translate="HINT_CONFIRM_PRIVACY"></p>
				</label>
			</div>
		</div>
		 
		<div class="form-group">
			<button class="btn btn-default" translate="BUTTON_BACK" ng-click="back()"></button>
			<button class="btn btn-primary" ng-disabled="!registrationPossible() || registrationPending" translate="BUTTON_REGISTER" ng-click="register()"></button>
		</div>
	</form>
</div>
