<div class="container" ng-show="!registrationPerformed">
	<uib-tabset active="activeTab">
		<uib-tab index="tabs.start" heading="{{ 'HEADLINE_HINTS_START' | translate }}">
			<ng-include src="'views/01_hints.html'"></ng-include>
		</uib-tab>
		<uib-tab index="tabs.group" heading="{{ 'HEADLINE_GROUP_INPUT' | translate }}">
			<ng-include src="'views/02_group.html'"></ng-include>
		</uib-tab>
		<uib-tab index="tabs.leader" heading="{{ 'HEADLINE_LEADER_INPUT' | translate }}" disable="!groupReady()">
			<ng-include src="'views/03_leader.html'"></ng-include>
		</uib-tab>
		<uib-tab index="tabs.participants" heading="{{ 'HEADLINE_PARTICIPANTS_INPUT' | translate }}" disable="!leaderReady()">
			<ng-include src="'views/04_participants.html'"></ng-include>
		</uib-tab>
		<uib-tab index="tabs.confirm" heading="{{ 'HEADLINE_CONFIRM' | translate }}" disable="!participantsReady()">
			<ng-include src="'views/05_confirm.html'"></ng-include>
		</uib-tab>
	</uib-tabset>
</div>

<div class="container" ng-show="registrationPerformed">
	<div class="row">
		<div class="col-xs-12">
			<p translate="TEXT_SUCCESS"></p>
		</div>
	</div>
</div>
